.button {
  display: inline-block;
  padding: 13px 26px;

  @include roboto-condensed-700;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.05em;
  color: $lightest;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  word-wrap: break-word;

  background-color: transparent;

  border: 1px solid $lightest;
  border-radius: 5px;
  outline: none;

  cursor: pointer;

  &:hover,
  &:focus {
    color: $darkest;

    background-color: rgba($lightest, 0.4);

    border-color: rgba($lightest, 0.7);
    box-shadow: 0 0 5px 1px $lightest;
  }

  &:active {
    color: rgba($darkest, 0.6);

    background-color: rgba($lightest, 0.1);

    border-color: transparent;
    box-shadow: 0 0 5px 1px rgba($lightest, 0.3) inset;
  }

  &--filled {
    background-color: $bright;
  }

  &--large {
    padding: 15px 45px;

    font-size: 16px;
    line-height: 1.4;

    border-color: transparent;
  }

  &--bright {
    padding: 13px 49px;

    color: $bright;
    border-color: $bright;

    &:hover,
    &:focus {
      color: $bright;

      background-color: rgba($bright, 0.1);

      border-color: rgba($bright, 0.7);
      box-shadow: 0 0 5px 1px $bright;
    }

    &:active {
      color: rgba($bright, 0.3);

      background-color: rgba($bright, 0.1);

      border-color: transparent;
      box-shadow: 0 0 5px 1px rgba($bright, 0.3) inset;
    }
  }
}

@media (max-width: $tablet-max-width) {
  .button {
    &--large {
      padding: 15px 30px;
    }
  }
}
