.button {
  display: inline-block;
  padding: 13px 26px;

  @include roboto-condensed-700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  color: $lightest;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  word-wrap: break-word;

  background-color: transparent;

  border: 1px solid $lightest;
  border-radius: 5px;
  outline: none;

  cursor: pointer;

  &:hover,
  &:focus {
    color: $darkest;

    background-color: rgba($lightest, 0.4);

    border-color: rgba($lightest, 0.7);
    box-shadow: 0 0 5px 1px $lightest;
  }

  &:active {
    color: rgba($darkest, 0.6);

    background-color: rgba($lightest, 0.1);

    border-color: transparent;
    box-shadow: 0 0 5px 1px rgba($lightest, 0.3) inset;
  }

  }
}
