.page-main {
  padding-top: 113px;

  background-image: url("../img/bg-page-main-desktop.svg");
  background-repeat: no-repeat;
  background-position: 50% -29px;

  &--modal {
    padding: 75px 0;

    background-color: $darkest;
  }
}

.page-main__features {
  margin-bottom: 102px;
}

.page-main__about {
  margin-bottom: 109px;
}

@media (max-width: $tablet-max-width) {
  .page-main {
    padding-top: 53px;

    background-image: url("../img/bg-page-main-tablet.svg");
    background-position: right 23%;
  }

  .page-main__features {
    margin-bottom: 57px;
  }

  .page-main__about {
    margin-bottom: 83px;
  }
}

@media (max-width: $mobile-max-width) {
  .page-main {
    padding-top: 37px;

    background-image: none;

    &--modal {
      padding: 0;
    }
  }

  .page-main__about {
    margin-bottom: 64px;
  }
}
