.site-logo {
  display: flex;
  align-items: center;
  width: 202px;
  height: 52px;
}

.site-logo__icon {
  margin-right: 16px;
}

.site-logo__name {
  margin-top: 5px;
}

@media (max-width: $mobile-max-width) {
  .site-logo {
    width: 38px;
    height: 38px;

    &--footer {
      width: 202px;
      height: 52px;

      .site-logo__icon {
        margin-right: 16px;
      }

      .site-logo__name {
        display: block;
      }
    }
  }

  .site-logo__icon {
    margin-right: 0;
  }

  .site-logo__name {
    display: none;
  }
}
