.container {
  max-width: $desktop-max-width;
  margin: 0 auto;
  padding: 0 120px;
}

.container--main {
  max-width: 1220px;
  padding: 0 25px;
}

@media (max-width: $tablet-max-width) {
  .container {
    max-width: $tablet-max-width;
    padding: 0 25px;
  }
}

@media (max-width: $mobile-max-width) {
  .container {
    max-width: $mobile-max-width;
    padding: 0 15px;
  }
}
