// colors
$lightest: #ffffff;
$light: #fafafa;
$dark: #666666;
$darkest: #1b2d37;
$bright: #00b2ff;
$invalid: #ff0000;

// width
$desktop-max-width: 1650px;
$desktop-min-width: 1024px;
$tablet-max-width: 1023px;
$tablet-min-width: 768px;
$mobile-max-width: 767px;
$mobile-min-width: 320px;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
